*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  
}

#div{ 
  background-image:url('background.jpg');
  background-repeat: no-repeat;
  background-size:100% 100%;
  width: 100%;
  height:100vh;
  padding-top:  0;

}
body{
    height:100%;
    background-color: #3973ac;
    box-sizing: border-box;
   
}

h2 {font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    margin: 0rem 0 3rem;
    padding-top:2%;
    text-align:center;
    color:thistle;
}

#myDIV{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    
    
}

#myInput{
    padding: 0.5rem 1rem;
    height: 3.125rem;
    outline: none;
    background-color:#fff;
    width: 55%;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius:1.563rem;
    border: none;
    transition:0.5s;
}

.addBtn{
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 1.563rem;
    outline:none;
    border: none;
    background-color:sandybrown;
    color: whitesmoke;
    margin:0.016rem;
    cursor:pointer;
}

.addBtn:hover{
    background-color:violet;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
  }
.item{
    padding:0.5rem;
    margin-bottom: 1.5rem;
    margin-bottom: 0.25rem solid#fff;
}

.item_input{
    background:none;
    outline:none;
    color:lime;
    border:none;
    width:15.313 rem;
    font-size: 1.4rem;
   
    
}
ul {width: 80%;
    align-content: center;
    margin: 0;
    padding-left:  20%;
    padding-top: 0.5%;

    
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 1.563rem;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 1.563rem;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }

  /* style the imp button */
  .imp {
      position: absolute;
      right: 11%;
      top: 0;
      padding: 0.75rem 1rem 0.75rem 1rem;
     border-radius: 1.563rem;
  }

  .imp:hover {
    background-color: rgb(230, 10, 182);
    color: white;
  }

.button_1{
  width: 7%;
  padding:11px;
  margin: 0 0;
  cursor:pointer;
  outline: none;
  border:none;
  border-radius: 1.563rem;
  

}
.button_1:hover{
  background-color: pink;
   
  
}

.button_1:active{
  background-color: skyblue;
   
}
#editButton{
  margin-left: 21%;
}
#doneButton{
  margin-left: 44%;
}



